<html lang="en">
    <head>
    <title>Mengxi Li-Home Page</title>
    <meta charset="utf-8">
    <style>
        .topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav img {
    float: right
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
    </style>
    <script>
     function nav(path)
     {
    var url= location.origin+'/'+path
    window.location.replace(url);
     }   
    </script>
    </head>
    <body style="font-family:Verdana; background-color:lavenderblush;color:purple;">
        <div class="topnav">
            <img src="/assets/LOGO.png"></img>
            <a class="active" onclick="nav('')">Home</a>
            <a onclick="nav('aboutme')">About Me</a>
            <a href="#contact">Project</a>
            <a href="#about">Services</a>
            <a href="">Contact Me</a>
          </div>
        <div style="width:980px;margin-left:auto;margin-right:auto;">
            <h4> Student Name: Mengxi Li - Student Number:301092480</h4>
            <p>Welcolm to my home page</p>
            <p>one of my favorite quotes is</p>
            <blockquote>
                <i>&quot;Be who you are and say what you feel, because those who mind don't matter, and those who matter don't mind.</i>&quot;
                <br>---Bernard M. Baruch---
            </blockquote>
            <p>Some of my favorite computer games are:</p>
            <img src="assets/me.jpg" width="500" height="600" style="float:right" ></img>
            <ul style="list-style-image:url(animated-bullet-10.gif)">
                <li>watch dog</li>
                <li>PUBG</li>
                <li>LOL</li>
</footer>
<h6>&copy;&nbsp;Copyright Mengxi Li-COMP229-Winter 2020</h6>
</div>
</body>
</html>