<html lang="en">
    <head>
    <title>login</title>
    <meta charset="utf-8">
    <style>
        .topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav img {
    float: right
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
    </style>
    <script>
     function nav(path)
     {
    var url= location.origin+'/'+path
    window.location.replace(url);
     }   
     function login(){
      var username= document.getElementById("username").value;
      var password= document.getElementById("password").value;
      console.log(username,password)
      if (username==1349172249&&password==666666) {
       nav('contact');
}
     }
    </script>
    </head>
    <body style="font-family:Verdana; background-color:lavenderblush;color:purple;">
        <div class="topnav">
            <img src="/assets/LOGO.png"></img>
            <a class="active" onclick="nav('')">Home</a>
            <a onclick="nav('aboutme')">About Me</a>
            <a onclick="nav('project')">Project</a>
            <a onclick="nav('services')">Services</a>
            <a onclick="nav('contactme')">Contact Me</a>
            <a onclick="nav('login')">login</a>
            <a onclick="nav('contact')">contact</a>
          </div>
    </head>
    <form>
      <label for="username">username:</label><br>
      <input type="text" id="username" name="username" value="" required><br>
      <label for="password">password:</label><br>
      <input type="password" id="password" name="password" value="" required><br>
      <button type="button" class="login" onclick="login()">login</button>
      <button type="button" class="cancelbtn">Cancel</button>
    </form>
    </body>
    </html>
