<html lang="en">
    <head>
    <title>Services</title>
    <meta charset="utf-8">
    </head>
    <body style="font-family:Verdana; background-color:lavenderblush;color:purple;">
        <div style="width:980px;margin-left:auto;margin-right:auto;">
            <h2><span lang="en-ca">Services</span></h2>
            <p>Website Design</p>
            <p>Reinstall the PC system</p>
<h6>&copy;&nbsp;Copyright Mengxi Li-COMP229-Winter 2020</h6>
</div>
</body>
</html>